{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
function myFunction(v) {
  var x = document.getElementById(v);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% if current_user.is_authenticated %}
  <div id="menu2" align="center" style="margin-left: 0%;">
    <h3 align="center">LM75 Temperature sensor</h3>
    <h5 align="center">Below is the list of latest 10 readings.
</h5>

    <table class="table table-hover">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Sensor ID</th>
        <th>Temperature</th>
      </tr>
    </thead>
    <tbody>
         {%- for todo in lm10 %}
      <tr>
        <td>{{ todo[0] }}</td>
        <td>{{ todo[1] }}</td>
        <td>{{ todo[2] }}</td>
      </tr>
      {%- endfor %}

    </tbody>
  </table>
    <button class="btn btn-success" onclick="myFunction('lm75div')">Click to show full list of readings</button>

    <div id="lm75div" style="display: none">
<br>

<div class="input-group" style="margin-left: 20%; margin-right: 20%;">
<input class="form-control" id="lm75input" type="text" placeholder="Search..">

    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>


        <table class="table table-hover">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Sensor ID</th>
        <th>Temperature</th>
      </tr>
    </thead>
    <tbody id="lm75filter">
         {%- for todo in lm %}
      <tr>
        <td>{{ todo[0] }}</td>
        <td>{{ todo[1] }}</td>
        <td>{{ todo[2] }}</td>
      </tr>
      {%- endfor %}

    </tbody>
  </table>


</div>

{#    <h4> Last 1 day average: </h4>#}
{#    <h4>Limit exceeded in last 1 day: </h4>#}

  </div>

<script>


$(document).ready(function(){
  $("#lm75input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#lm75filter tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
<!-- /.content -->
{% else %}
    <script>
        window.location.href = '/admin/login';
    </script>
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
{% endif %}
{% endblock body %}
